<%= form_for @creature do |f| %>
<%= f.text_field :name %>
<%= f.text_area :description %>
<%= f.submit "Save" %>
<% end %>

<%= link_to "Back to All Creatures", creatures_path %>

<!--  -->
<!-- <% @creature.errors.full_messages.each do |msg| %>
<li> <%= msg %> </li>
<% end %> -->
